@import "./fonts.css";

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    display: block;
    max-inline-size: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    display: block;
  }

  a {
    text-decoration: none;
    color: var(--color-text);
  }
}

:root {
  --color-bg: rgb(196, 196, 176);
  --color-text: #000;
  --font-primary: "Protage", sans-serif;
  --font-display: "Glasgow Grotesk", sans-serif;
  --width-wrapper: 1320px;
  --height-header: 96px;
}

html,
body {
  background-color: var(--color-bg);
  font-family: var(--font-primary);
  height: 100%;
  letter-spacing: 1px;
  overflow: hidden;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(0, var(--width-wrapper)) minmax(1rem, 1fr);

  & > * {
    grid-column: 2 / 3;
  }
}

a {
  font-size: clamp(0.85rem, 2vw, 1.25rem);
}

.site-nav__wrapper {
  align-items: center;
  display: flex;
  inline-size: 100%;
  justify-content: space-between;
  padding-block: 2rem;
}

.nav-items {
  align-items: center;
  display: flex;
  gap: 1em;
}

.site-container {
  block-size: calc(100dvh - var(--height-header));
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  grid-template-rows: 1fr;
}

/* ITEMS */
.items {
  align-items: start;
  display: flex;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  min-width: 980px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 4rem;
  scrollbar-width: none;
  width: 100vw;
  z-index: 2;

  &::-webkit-scrollbar {
    display: none;
  }
}

.item {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(100% / 5);
  gap: 0.5rem;
  height: auto;
}

.item-copy {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  & p {
    line-height: 1.1;
    margin-right: 1rem;
    white-space: nowrap;
  }
}

.item-copy-wrapper:first-child {
  text-transform: uppercase;
}

.item[data-main] {
  flex: 0 0 calc(100% / 3.5);
}

.item-img {
  aspect-ratio: 0.8;
  flex: 1;
  min-height: 300px;
  overflow: hidden;
}

/* HEADING */
.heading {
  align-self: end;
  display: flex;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: fit-content;
  justify-self: center;
  width: max-content;
  z-index: 1;
}

.heading-title {
  font-family: var(--font-display);
  font-size: clamp(2rem, calc(80vw / var(--char-count, 8)), 14rem);
  letter-spacing: -5px;
  line-height: 100%;
  overflow: hidden;
  text-transform: uppercase;
}

.letter {
  display: inline-block;
}

.heading,
.letter {
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform, opacity;
}
